.map h1,
.map h1.fancy {
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}
.map .tagline {
  letter-spacing: inherit;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#sidebar{
  background:rgba(40, 53, 61, 0.23);
}

.toggles {
  width: 320px;
}

.info {
  box-shadow: 0 1px 2px rgba(0,0,0,0.20);
  width: 320px;
  color: white;
}

.fill-darkblue-opaque {
  background-color: rgba(34, 59, 83, 0.4);
}

.button.stroke:hover {
  background-color: #3887be !important;
  color: rgb(255, 255, 255) !important;
}

.button.stroke {
  box-shadow: 0px 0px 0px 2px #223b53 inset !important;
  color: white;
}